<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="footer" class="page-footer">
    <a href="index.html" class="page-footer-item page-footer-item-left"><i data-feather="arrow-left"
                                                                           class="footer-left"></i>eCommerce</a>
    <a href="email.html" class="page-footer-item page-footer-item-right">Email<i data-feather="arrow-right"
                                                                                 class="footer-right"></i></a>
</div>
</body>
</html>