<!DOCTYPE html>
<html lang="zxx">
<head th:replace="decorate/common/head :: commonHead('AGP游戏平台')">
</head>
<style>
  #head2{
    height:140px;
  }
  .list-group-item{
    background-color: #09161d;
  }
  .circle{
    border-radius: 50%;
    width: 160px;
    height: 160px;
  }


</style>
<body screen_capture_injected="true">
<!-- Page loader -->
<div id="preloader" style="display: none;"></div>
<!-- header section start -->
<div th:replace="decorate/common/header.html :: commonHeader(activeUri='index')"></div>
<!-- header section end -->
<div class="top-menu col-md-12">
  <div class="clearfix"></div>
</div>
<div class="loginbox container">
  <div class="content">
    <div class="row">
      <div class="col-md-5 content-left">
        <table class="table table-hover">
          <thead>
          <tr>
            <th colspan="2">充值用户信息</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>用户头像</td>
            <td>
              <img width="100px" class="circle"
                   th:src="${session.user.header != null?'/public'+session.user.header.src:'/public/header/jinx.jpg'}"/>
            </td>
          </tr>
          <tr>
            <td>用户ID</td>
            <td th:text="${session.user.id}"></td>
          </tr>
          <tr>
            <td>用户名</td>
            <td th:text="${session.user.name}"></td>
          </tr>
          <tr>
            <td>注册日期</td>
            <td th:text="${#dates.format(session.user.registerDate,'yyyy-MM-dd')}"></td>

          </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-5 content-right">
        <form class="contact-form" action="/user/recharge" method="post">
          <div class="input-group">
            <input type="number" name="money" class="form-control" style="margin-right: 10px;" placeholder="请输入要充值的金额$">
            <span class="input-group-btn">
							<button class="btn btn-default" type="submit" style="height: 42px;">一键充值</button>
						</span>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>

    </div>

  </div>
</div>
<!-- footer section start -->
<footer th:replace="decorate/common/footer.html::footer"></footer>
<!-- footer section end -->
<div th:replace="decorate/common/js.html::js"></div>
</body>
</html>