<!DOCTYPE html>
<html lang="zxx">
<head th:replace="decorate/common/head :: commonHead('AGP游戏平台')">
</head>
<body screen_capture_injected="true">
<!-- Page loader -->
<div id="preloader" style="display: none;"></div>
<!-- header section start -->
<div th:replace="decorate/common/header.html :: commonHeader(activeUri='index')"></div>
<!-- header section end -->

<!-- hero area start -->
<div th:replace="decorate/common/hero.html :: hero"></div>
<!-- hero area end -->
<!-- portfolio section start -->
<div th:replace="decorate/common/portfolio.html :: portfolio"></div>
<!-- portfolio section end -->
<!-- video section start -->
<div th:replace="decorate/common/video.html::video"></div>
<!-- video section end -->
<!-- news section start -->
<div th:replace="decorate/common/news.html :: news"></div>
<!-- news section end -->
<!-- footer section start -->
<footer th:replace="decorate/common/footer.html::footer"></footer>
<!-- footer section end -->

<div th:replace="decorate/common/js.html::js"></div>


</body>
</html>