<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ch">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="widget">
          <!--<img th:src="#" alt="about">-->
          <p>辽宁省大连市甘井子区软件园路8号</p>
          <h6><span>电话: </span>+86-411-84835000</h6>
          <h6><span>传真: </span>+86-411-84769999</h6>
          <h6><span>网站策划: </span>大连东软信息学院</h6>
          <h6><span>设计及技术支持: </span>大连东软信息学院</h6>
          <h6><span>意见反馈: </span>291521840@qq.com</h6>

        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="widget">
          <h4>Legal</h4>
          <ul>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Security</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="widget">
          <h4>Account</h4>
          <ul>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Watchlist</a></li>
            <li><a href="#">Collections</a></li>
            <li><a href="#">User Guide</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="widget">
          <h4>Newsletter</h4>
          <p>Subscribe to our newsletter system now to get latest news from us.</p>
          <form action="#">
            <input type="text" placeholder="Enter your email..">
            <button>SUBSCRIBE NOW</button>
          </form>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-center text-lg-left">
          <div class="copyright-content">
            <p>Copyright © 2002-2022 大连东软信息学院 All Rights <a href="http://www.neusoft.edu.cn/">Reserved</a>.
              Designed by themerocket</p>
          </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
          <div class="copyright-content">
            <a href="http://demo.demohuo.top/modals/52/5259/demo/#" class="scrollToTop"
               style="display: none;">
              Back to top<i class="icofont icofont-arrow-up"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>