<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ch">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="js">

  <!-- jquery main JS -->
  <script th:src="@{/public/newIndexStyle/js/jquery.min.js}"></script>
  <!-- Bootstrap JS -->
  <script th:src="@{/public/newIndexStyle/js/bootstrap.min.js}"></script>
  <!-- Slick nav JS -->
  <script th:src="@{/public/newIndexStyle/js/jquery.slicknav.min.js}"></script>
  <!-- owl carousel JS -->
  <script th:src="@{/public/newIndexStyle/js/owl.carousel.min.js}"></script>
  <!-- Popup JS -->
  <script th:src="@{/public/newIndexStyle/js/jquery.magnific-popup.min.js}"></script>
  <!-- Isotope JS -->
  <script th:src="@{/public/newIndexStyle/js/isotope.pkgd.min.js}"></script>
  <!-- main JS -->
  <script th:src="@{/public/newIndexStyle/js/main.js}"></script>
</div>
</body>
</html>