<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ch">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section th:fragment="portfolio" class="portfolio-area pt-60">
        <div class="container">
            <div class="row flexbox-center">
                <div class="col-lg-6 text-center text-lg-left">
                    <div class="section-title">
                        <h1>最新游戏</h1>
                    </div>
                </div>
                <div class="col-lg-6 text-center text-lg-right">
                    <div class="portfolio-menu">
                        <ul>
                            <li data-filter="*" class="active">游戏列表</li>
                          <!--  <li data-filter=".soon">Comming Soon</li>
                            <li data-filter=".top">评分最高</li>
                            <li data-filter=".released">最新发布</li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row portfolio-item" style="position: relative; height: 1093.9px;">
                <div class="col-lg-3 col-md-4 col-sm-6 soon released" style="position: absolute; left: 0px; top: 0px;" th:each="newGames:${newGames}">
                    <div class="single-portfolio">
                        <div class="single-portfolio-img">
                            <a th:href="'/library/game/'+${newGames.id}">
                            <img th:src="'/public/images/'+${newGames.src}" style="width: 255px; height: 408.950px" alt="image">
                         </a>
                        </div>
                        <div class="portfolio-content">
                            <h2 th:text="${newGames.name}">Boyz II Men</h2>
                            <div class="review">
                                <span th:text="${newGames.category.name}">Marketing - Branding</span>
                                <h4 th:text="${#dates.format(newGames.pubdate,'yyyy-MM-dd')}"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            <!--    <div class="col-lg-3 col-md-4 col-sm-6 top" style="position: absolute; left: 285px; top: 0px;">
                    <div class="single-portfolio">
                        <div class="single-portfolio-img">
                            <img th:src="./Moviepoint - Online Movie,Vedio and TV Show HTML Template_files/portfolio2.png" alt="portfolio">
                            <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                                <i class="icofont icofont-ui-play"></i>
                            </a>
                        </div>
                        <div class="portfolio-content">
                            <h2>Tale of Revemge</h2>
                            <div class="review">
                                <div class="author-review">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div>
                                <h4>180k voters</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 soon" style="position: absolute; left: 570px; top: 0px;">
                    <div class="single-portfolio">
                        <div class="single-portfolio-img">
                            <img th:src="./Moviepoint - Online Movie,Vedio and TV Show HTML Template_files/portfolio3.png" alt="portfolio">
                            <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                                <i class="icofont icofont-ui-play"></i>
                            </a>
                        </div>
                        <div class="portfolio-content">
                            <h2>The Lost City of Z</h2>
                            <div class="review">
                                <div class="author-review">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div>
                                <h4>180k voters</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 top released" style="position: absolute; left: 855px; top: 0px;">
                    <div class="single-portfolio">
                        <div class="single-portfolio-img">
                            <img th:src="./Moviepoint - Online Movie,Vedio and TV Show HTML Template_files/portfolio4.png" alt="portfolio">
                            <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                                <i class="icofont icofont-ui-play"></i>
                            </a>
                        </div>
                        <div class="portfolio-content">
                            <h2>Beast Beauty</h2>
                            <div class="review">
                                <div class="author-review">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div>
                                <h4>180k voters</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 released" style="position: absolute; left: 0px; top: 546px;">
                    <div class="single-portfolio">
                        <div class="single-portfolio-img">
                            <img th:src="./Moviepoint - Online Movie,Vedio and TV Show HTML Template_files/portfolio5.png" alt="portfolio">
                            <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                                <i class="icofont icofont-ui-play"></i>
                            </a>
                        </div>
                        <div class="portfolio-content">
                            <h2>In The Fade</h2>
                            <div class="review">
                                <div class="author-review">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div>
                                <h4>180k voters</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 soon top" style="position: absolute; left: 285px; top: 546px;">
                    <div class="single-portfolio">
                        <div class="single-portfolio-img">
                            <img th:src="./Moviepoint - Online Movie,Vedio and TV Show HTML Template_files/portfolio6.png" alt="portfolio">
                            <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                                <i class="icofont icofont-ui-play"></i>
                            </a>
                        </div>
                        <div class="portfolio-content">
                            <h2>Last Hero</h2>
                            <div class="review">
                                <div class="author-review">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div>
                                <h4>180k voters</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 soon" style="position: absolute; left: 570px; top: 546px;">
                    <div class="single-portfolio">
                        <div class="single-portfolio-img">
                            <img th:src="./Moviepoint - Online Movie,Vedio and TV Show HTML Template_files/portfolio3.png" alt="portfolio">
                            <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                                <i class="icofont icofont-ui-play"></i>
                            </a>
                        </div>
                        <div class="portfolio-content">
                            <h2>The Lost City of Z</h2>
                            <div class="review">
                                <div class="author-review">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div>
                                <h4>180k voters</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 top released" style="position: absolute; left: 855px; top: 546px;">
                    <div class="single-portfolio">
                        <div class="single-portfolio-img">
                            <img th:src="./Moviepoint - Online Movie,Vedio and TV Show HTML Template_files/portfolio4.png" alt="portfolio">
                            <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                                <i class="icofont icofont-ui-play"></i>
                            </a>
                        </div>
                        <div class="portfolio-content">
                            <h2>Beast Beauty</h2>
                            <div class="review">
                                <div class="author-review">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div>
                                <h4>180k voters</h4>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </section>


</body>
</html>