<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ch">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section th:fragment="video" class="video ptb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title pb-20">
                    <h1> 预告片 & 视频</h1>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-9">
                <div class="video-area">
                    <img th:src="@{/public/newIndexStyle/images/饥荒.jpg}" alt="video">
                    <a href="https://media.st.dl.pinyuncloud.com/steam/apps/2028604/movie480.webm?t=1447357797"
                       class="popup-youtube">
                        <i class="icofont ">
                            <svg t="1650900371304" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                 xmlns="http://www.w3.org/2000/svg" p-id="2026" width="20" height="20">
                                <path d="M128 138.666667c0-47.232 33.322667-66.666667 74.176-43.562667l663.146667 374.954667c40.96 23.168 40.853333 60.8 0 83.882666L202.176 928.896C161.216 952.064 128 932.565333 128 885.333333v-746.666666z"
                                      fill="#ffffff" p-id="2027"></path>
                            </svg>
                        </i>
                    </a>
                    <div class="video-text">
                        <h2>饥荒</h2>
                        <div class="review">
                            <h4>180k voters</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <div class="video-area">
                            <img th:src="@{/public/newIndexStyle/images/aa7fdd276ad848d02f28f7f86264d386_4205942631348108574.jpg}"
                                 alt="video">
                            <a href="https://media.st.dl.pinyuncloud.com/steam/apps/256858881/movie480_vp9.webm?t=1650503803"
                               class="popup-youtube">
                                <i class="icofont ">
                                    <svg t="1650900371304" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                         xmlns="http://www.w3.org/2000/svg" p-id="2026" width="20" height="20">
                                        <path d="M128 138.666667c0-47.232 33.322667-66.666667 74.176-43.562667l663.146667 374.954667c40.96 23.168 40.853333 60.8 0 83.882666L202.176 928.896C161.216 952.064 128 932.565333 128 885.333333v-746.666666z"
                                              fill="#ffffff" p-id="2027"></path>
                                    </svg>
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6">
                        <div class="video-area">
                            <img th:src="@{/public/newIndexStyle/images/icey.jpg}" alt="video" style="height: 285px;">
                            <!--           <iframe src="//player.bilibili.com/player.html?aid=16471315&bvid=BV1Ux411L7qb&cid=26866904&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>-->
                            <a href="https://media.st.dl.pinyuncloud.com/steam/apps/256818164/movie480_vp9.webm?t=1612334176"
                               class="popup-youtube">

                                <i class="icofont ">
                                    <svg t="1650900371304" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                         xmlns="http://www.w3.org/2000/svg" p-id="2026" width="20" height="20">
                                        <path d="M128 138.666667c0-47.232 33.322667-66.666667 74.176-43.562667l663.146667 374.954667c40.96 23.168 40.853333 60.8 0 83.882666L202.176 928.896C161.216 952.064 128 932.565333 128 885.333333v-746.666666z"
                                              fill="#ffffff" p-id="2027"></path>
                                    </svg>
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>