<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ch">
<div th:fragment="content">
    <div class="main-wrapper">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="#{admin.game}"></h5>
                        <div id="zero-conf_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <a type="button" class="btn btn-outline-primary m-b-xs" th:href="@{/admin/category/add}"
                                       th:text="#{button.add}"></a>
                                    <span class="label label-success" th:text="${session.user.messages.peekFirst()}"></span>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div id="zero-conf_filter" class="dataTables_filter">
                                        <form action="/admin/category" method="get">
                                            <label>
                                                Search:
                                                <input type="search" class="form-control form-control-sm" name="name"
                                                       placeholder="输入要搜索的分类" aria-controls="zero-conf">
                                            </label>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="zero-conf" class="display dataTable" style="width:100%" role="grid"
                                           aria-describedby="zero-conf_info">
                                        <thead>
                                        <tr>
                                            <th th:text="#{category.id}"></th>
                                            <th th:text="#{category.name}"></th>
                                            <th th:text="#{button.operation}"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr role="row" class="odd" th:each="categorys : ${pageInfo.list}">
                                            <td th:text="${categorysStat.index+1}"></td>
                                            <td th:text="${categorys.name}"></td>
                                            <td>
                                                <!--th:href="@{/admin/category/}+${categorys.id}"-->
                                                <a th:href="@{/admin/category/update/}+${categorys.id}"
                                                        class="btn btn-outline-success m-b-xs"
                                                        th:text="#{button.update}"></a>




                                                <a th:href="@{/admin/category/}+${categorys.id}"
                                                   class="btn btn-outline-danger m-b-xs" th:text="#{button.delete}"></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1" th:text="#{category.id}"></th>
                                            <th rowspan="1" colspan="1" th:text="#{category.name}"></th>
                                            <!--  <th rowspan="1" colspan="1" th:text="#{user.fd_login_name}"></th>-->
                                            <th rowspan="1" colspan="1" th:text="#{button.operation}"></th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <!--分页-->
                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info" id="zero-conf_info" role="status" aria-live="polite">
                                        当前第[[${pageInfo.pageNum}]]页，共[[${pageInfo.pages}]]页，共[[${pageInfo.total}]]条记录
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="zero-conf_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button page-item previous " id="zero-conf_previous"><a
                                                    th:href="@{/admin/category}" aria-controls="zero-conf"
                                                    data-dt-idx="0" tabindex="0"
                                                    class="page-link">首页</a></li>
                                            <li class="paginate_button page-item ">
                                                <a th:href="@{/admin/category/(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}"
                                                   aria-controls="zero-conf"
                                                   data-dt-idx="0" tabindex="0"
                                                   class="page-link">上一页</a></li>
                                            <!--遍历-->
                                            <li th:each="page,pageStat:${pageInfo.navigatepageNums}"
                                                class="paginate_button page-item">
                                                <a th:href="@{/admin/category/(pageNum=${page})}"
                                                   aria-controls="zero-conf"
                                                   data-dt-idx="1" tabindex="0"
                                                   class="page-link">[[${page}]]</a></li>
                                            <li class="paginate_button page-item ">
                                                <a th:href="@{/admin/category/(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}"
                                                   aria-controls="zero-conf"
                                                   data-dt-idx="0" tabindex="0"
                                                   class="page-link">下一页</a></li>
                                            <li class="paginate_button page-item next " id="zero-conf_next"><a
                                                    th:href="@{/admin/category/(pageNum=${pageInfo.pages})}"
                                                    aria-controls="zero-conf"
                                                    data-dt-idx="0" tabindex="0"
                                                    class="page-link">尾页</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--分页end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <a th:href="@{/admin/}" class="page-footer-item page-footer-item-left"><i data-feather="arrow-left"
                                                                                  class="footer-left"></i>后台管理</a>
        <a th:href="@{/admin/}" class="page-footer-item page-footer-item-right">游戏管理<i data-feather="arrow-right"
                                                                                       class="footer-right"></i></a>
    </div>
</div>
</html>