<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer">
    <div class="container-fluid">
        <!--        <div class="row">-->
        <!--            <div clas="col-md-12">-->
        <!--                <h4>We're the Yxm<span class="pink">.</span></h4>-->
        <!--                <p>Call us on 133 2170 0712 or Contact Us for more information</p>-->
        <!--                <form action="/library/grid" method="get" class="col-md-6 form-inline ">-->
        <!--                    <input type="text" name="gameName" class="text form-control" value="" placeholder="输入要搜索的游戏名">-->
        <!--                    <input class="btn btn-dark" type="submit" value="搜索" >-->
        <!--&lt;!&ndash;                    <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>&ndash;&gt;-->

        <!--                </form>-->
        <!--            </div>-->
        <!--        </div>&lt;!&ndash; end row &ndash;&gt;-->
        <!--        <div class="divider"></div>-->
        <!--        <div class="row">-->
        <!--            <div class="col-md-6 col-lg-3">-->
        <!--                <h6>休闲</h6>-->
        <!--                <ul>-->
        <!--                    <a href="" th:each="getType1game:${getType1game}" th:href="@{/library/game/__${getType1game.id}__}"><li th:text="${getType1game.name}"></li></a>-->
        <!--                </ul>-->
        <!--            </div>-->
        <!--            <div class="col-md-6 col-lg-3">-->
        <!--                <h6 class="mg-top-sm"> 体育</h6>-->
        <!--                <ul>-->
        <!--                    <a th:href="@{/library/game/__${getType2game.id}__}" th:each="getType2game:${getType2game}"><li  th:text="${getType2game.name}"></li></a>-->
        <!--                </ul>-->
        <!--            </div>-->
        <!--            <div class="col-md-6 col-lg-3">-->
        <!--                <h6 class="mg-top-sm">冒险</h6>-->
        <!--                <ul>-->
        <!--                    <a th:href="@{/library/game/__${getType3game.id}__}" th:each="getType3game:${getType3game}"><li  th:text="${getType3game.name}"></li></a>-->

        <!--                </ul>-->
        <!--            </div>-->
        <!--            <div class="col-md-6 col-lg-3">-->
        <!--                <h6 class="mg-top-xs">动作</h6>-->
        <!--                <ul>-->
        <!--                    <a th:href="@{/library/game/__${getType4game.id}__}" th:each="getType4game:${getType4game}"><li  th:text="${getType4game.name}"></li></a>-->

        <!--                </ul>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="divider"></div>-->
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <small style="color: #000000"><a style="color: #000000" href="#" target="_blank">We're the Yxm<span
                        class="pink">.</span></a> - More Templates <a style="color: #000000" href="/" target="_blank"
                                                                      title="yxm">yxm</a>
                </small>
            </div>
            <div class="col-md-6 col-xs-12">
                <i class="icon ion-logo-dribbble"></i>
                <i class="icon ion-logo-linkedin"></i>
                <i class="icon ion-logo-facebook"></i>
                <i class="icon ion-logo-instagram"></i>
                <i class="icon ion-logo-chrome"></i>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
    <!--    <div>-->
    <!--        <a class="btn btn-default" href="" role="button" style="position:fixed;right: 0;bottom: 0">回到顶部</a>-->
    <!--    </div>-->
</footer>
<!--  E N D  F O O T E R  -->

</body>
</html>
