<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ch">
<head th:fragment="commonHead(title)">
    <meta charset="UTF-8">
    <title></title>
    <!--    th:text="${title}"-->
    <title>asd </title>
    <link href="/public/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/public/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/public/css/style4.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/public/css/Newstyle.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/public/css/lightbox.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/public/layui/css/layui.css}">
    <!--    <link rel="stylesheet" th:href="@{/public/css/style3.css}">-->
    <!--    <link rel="stylesheet" th:href="@{/public/css/plugins.css}">-->
    <!--    <link rel="stylesheet" th:href="@{/public/css/ionicons.min.css}" type="text/css">-->
    <link rel="stylesheet" th:href="@{/public/css/bootstrap-datetimepicker.min.css}" type="text/css">
    <!--    <link rel="stylesheet" th:href="@{/public/css/swiper.min.css}"  type="text/css">-->
    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/public/css/ionicons.min.css}" type="text/css">

    <!-- Custom Theme files -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Titillium+Web:400,600,700,300'
          rel='stylesheet' type='text/css'>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
    <!-- Custom Theme files -->
    <!-- jQuery (necessary JavaScript plugins) -->
    <script type='text/javascript' th:src="@{/webjars/jquery/3.4.1/jquery.slim.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/lightbox-plus-jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/bootstrap-datetimepicker.zh-CN.js}"></script>
    <!--    <script type="text/javascript" th:src="@{/public/js/swiper.min.js}"></script>-->
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
    </script>
</head>

</html>
